@import 'assets/media';

.drink-modal {
  width: 100%;

  @include media-sm-up {
    max-width: 400px;
  }

  &__card {
    height: 240px;

    @include media-sm-down {
      border-radius: 0 !important;
    }
  }

  &__header {
    display: flex;
  }
  &__close {
    .v-icon {
      &::before {
        font-size: 18px;
      }
    }
  }
}
