@import 'assets/media';

.drink-card {
  transition: 0.5s ease;

  &:hover {
    opacity: 1;
  }

  @include media-sm-up {
    opacity: 0.8;
  }

  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__edit-link {
    display: flex;
  }

  &__location {
    padding: 0 6px !important;
    margin-top: 12px !important;
  }
}
