.drink-characteristics {
  &__chips {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    margin-bottom: 12px;
  }

  &__location {
    margin-top: 12px;
  }

  &__chip,
  &__location {
    width: fit-content;
  }
}
