.snack-card {
  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__price {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 12px;
  }

  &__description {
    font-size: 16px;
    margin-top: 6px;
    margin-bottom: 12px;
    line-height: 1.75rem;
    letter-spacing: 0.009375em;
  }

  &__chips {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    margin-bottom: 12px;
  }

  &__locations {
    display: flex;
    align-items: center;
    gap: 6px;
  }

  &__location {
    margin-top: 12px;
  }

  &__chip,
  &__location {
    width: fit-content;
  }
}
