.create-product-page {
  padding-top: 0;

  &__title {
    font-size: 22px;
    margin-left: 12px;
  }

  &__row {
    max-width: 400px;
    margin: auto;
  }

  &__back {
    margin-left: 12px;
  }

  &.v-container {
    max-width: 500px !important;
  }
}
